.DS_Store
.stack*
nohub*
nohup*
*~
.cabal-sandbox/
dist/
.vagrant/
cabal.sandbox.config
*.PID
Vagrantfile
*.swp
*.swo
doc
static/tmp
ghc-mod.package-db-stack
.DS_Store
._.DS_Store
profiles/chrome-basic/._*
*.prof
a.out*
*.out.js
node_modules
FILES
