.container {
  width: 100%;
}

.top-buffer { margin-top: 80px !important; }
.bottom-buffer { margin-bottom: 20px; }

.busy-indicator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2050;
}
.loader-img {
  margin-right: 5px;
  margin-left: 5px;
}

.fit-text {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.custom-thumbnail-1:hover {
  background-color: #efefef;
}
.custom-thumbnail-1 {
  display: inline-block;
  width: 180px;
  padding: 15px;
  margin: 1px;
  border: 0px solid black;
  box-shadow: none;
}
.custom-thumbnail-1 img {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  /*background-color: #eee;*/
  border: 0px solid black;
  box-shadow: none;
}
.thumbnail-wrapper {
  border: 0px solid red;
  padding: 0px;
  margin: 0px;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  background-color: #eee;
}

.image-hash-value {
  font-size: 80%;
}

.panel {
  border: 0px solid red;
  box-shadow: none;
}

.list-group-item {
  border: 0px solid red;
  box-shadow: none;
}

.list-group {
  border: 0px solid red;
  box-shadow: none;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
  cursor: pointer;
}
