@-moz-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}


div, h1, h2, img, p, span {
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  animation: fadeIn 500ms;

  transition: opacity 500ms;

}

.container {
  width: 100%;
}

.top-buffer { margin-top: 80px !important; }
.login-top-buffer { margin-top: 75px !important; }

@media (max-width: 767px) {
  .top-buffer { margin-top: 350px !important; }
}

.bottom-buffer { margin-bottom: 20px; }

.busy-indicator .alert {
  height: 35px;
  width: 150px;
  margin: auto;
  padding: 5px 10px;
  border-radius: 0px;
}
.busy-indicator {
  position    : fixed;
  top         : 0;
  left        : 50%;
  margin-left : -75px;
  width       : 150px;
  z-index     : 2050;
}
.loader-img {
  margin-right: 5px;
  margin-left: 5px;
}

.fit-text {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.custom-thumbnail-1:hover {
  background-color: #ffffff;
}
.custom-thumbnail-1 {
  display: inline-block;
  width: 180px;
  padding: 15px;
  margin: 1px;
  border: 0px solid black;
  box-shadow: none;
}
.custom-thumbnail-1 img {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  /*background-color: #eee;*/
  border: 0px solid black;
  box-shadow: none;
  cursor: pointer;
}
.custom-thumbnail-1 .thumbnail-wrapper {
  border: 0px solid red;
  padding: 0px;
  margin: 0px;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  background-color: #eee;
}

.image-hash-value {
  font-size: 80%;
}

.custom-thumbnail-2 .thumbnail-wrapper { }

.custom-thumbnail-2:hover {
  background-color: #ffffff;
}
.custom-thumbnail-2 {
  display: inline-block;
  width: 68px;
  height: 68px;
  /*padding: 5px;*/
  margin: 0px;
  border: 0px solid black;
  box-shadow: none;
}
.custom-thumbnail-2 img:hover {
  border: 2px solid lightgreen;
}
.custom-thumbnail-2 img {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: 64px;
  height: 64px;
  /*margin: 0;*/
  /*padding: 0;*/
  /*min-width: 150px;*/
  /*min-height: 150px;*/
  /*background-color: #eee;*/
  border: 2px solid transparent;
  box-shadow: none;
  cursor: pointer;
}
.img-select-selected {
  border: 2px solid green !important;
}
.img-select-panel {
  width: 100%;
  height: 275px !important;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.panel {
  border: 0px solid red;
  box-shadow: none;
}

.list-group-item {
  border: 0px solid red;
  box-shadow: none;
}

.list-group {
  border: 0px solid red;
  box-shadow: none;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
  cursor: pointer;
}

.account-username {
  margin-top: 10px;
  margin-bottom: 25px;
}

.form-control {
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.account-picture {
  padding-right: 15px;
}

.score-container {
  width: 140px;
  height: 21px;
  padding: 0px;
  border: 1px solid white;
  margin: auto;
  background-color: #fff;
  /*font-size: 8px;*/
  overflow-x: hidden;
  overflow-y: hidden;
}

.neg-score {
  display: inline-block;
  width: 68px;
  height: 19px;
  text-align: right;
  padding: 0px 0px;
  margin: 0px;
  border: 2px solid #FD99AB;
  border-right: 0px solid black;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
}
.pos-score {
  display: inline-block;
  width: 68px;
  height: 19px;
  border: 2px solid #4AF900;
  border-left: 1px solid black;
  margin: 0px;
  text-align: left;
  padding: 0px 0px;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
}

.bad-score-bar:after { clear: both }
.bad-score-bar {
  background-color: #FD99AB;
  height: 19px;
  border: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  float: right;
  -webkit-transition: width 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, transform 0.2s;
}
/* http://paletton.com/palette.php?uid=73o280kl1Wx1x%2BIcEXDsUWkWEVB */
.good-score-bar:after { clear: both }
.good-score-bar {
  background-color: #4AF900;
  height: 19px;
  border: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  -webkit-transition: width 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, transform 0.2s;
}

.library-image-view-img {
  max-width: 100%;
  margin: auto;
  cursor: pointer;
}

.x-media {
  padding-top: 40px;
}

.badge-info {
  background-color: #5bc0de;
}

.image-prediction {
  text-align: center;
}
.center-block {
  float: none;
}

.login-jumbo {
    width: 395px;
    height: 395px;
    background-image: url(https://s3.amazonaws.com/bd-2015/img/bg-services.jpg);
    background-size: cover;
    background-position-x: 80%;
    color: white;
}

.form-number {
  text-align: right;
}

.no-border-input input, .no-border-input select {
  border     : 1px transparent;
  box-shadow : none;
}
.no-border-input input:focus, .no-border-input select:focus {
  border     : 1px solid #ccc;
  box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.modal-popup .form-inline {
  text-align: left;
}

.modal-popup {
  position         : fixed;
  z-index          : 8888;
  top              : 0px;
  bottom           : 0px;
  right            : 0px;
  left             : 0px;
  width            : 100%;
  height           : 100%;
  text-align       : center;
  vertical-align   : middle;
  background-color : rgba(0, 0, 0, 0.1);
}
.modal-popup-body {
  position         : relative;
  top              : 20%;
  width            : 80%;
  height           : auto;
  margin           : auto;
  padding          : 20px;
  background-color : white;
  box-shadow       : 0px 0px 30px 6px rgba(0,0,0,0.4);
}

.notifPanel {
  position : fixed;
  right    : 30px;
  top      : 30px;
  width    : 250px;
  height   : auto;
  z-index  : 9999;
}

.notifAlert {
  padding       : 15px;
  margin-bottom : 10px;
  border        : 1px solid transparent;
  border-radius : 4px;
  opacity       : 0.9;
  box-shadow    : 0px 1px 3px 0px rgba(0,0,0,0.1);
}

.map-container {
  width: 100%;
  height: 800px;
  background-color: white;
  position: absolute;
}

.leaflet-popup-content .custom-thumbnail-1 p {
  margin: 3px 0px;
  text-align: center;
}
.leaflet-popup-content .custom-thumbnail-1 {
  padding: 0px;
}

.acc-pic img {
  width: 50px;
  border-radius: 50%;
}
.acc-username .btn {
  /*display: block;*/
  text-align: left;
}
.acc-username {
  text-align: left;
  padding: 3px;
}
.acc-num {
  width: 100px;
}
.acc-fullname {
    padding: 3px;
}
.acc-bio {
    padding: 3px;
    color: grey;
}

.grid-item-wrapper .acc-pic img {
  width: 50px;
  border-radius: 50%;
}
.grid-item-wrapper .acc-username .btn {
  /*display: block;*/
  text-align: left;
}
.grid-item-wrapper .acc-username {
  text-align: center;
  padding: 3px;
  display: block;
  max-height: 120px;
  margin-bottom: 10px;
  overflow: auto;
}
.grid-item-wrapper .acc-num {
  width: auto;
  display: inline-block;
}
.grid-item-wrapper .acc-fullname {
    padding: 3px;
    display: block;
}
.grid-item-wrapper .acc-bio {
    padding: 3px;
    color: grey;
    display: block;
}

.grid-item-wrapper {
  position   : relative;
  display    : inline-block;
  width      : 200px;
  height     : 200px;
  padding    : 0px;
  text-align : center;
  overflow   : hidden;
  margin     : 25px;
}
.grid-item-delete {
    position : absolute;
    width    : 20px;
    height   : 20px;
    top      : 0px;
    left     : 0px;
    float    : left;
    display  : inline-block;
    padding  : 0px;
}
.grid-item-select {
    position : absolute;
    display  : inline-block;
    width    : 20px;
    height   : 20px;
    top      : 0px;
    left     : 173px;
    padding  : 0px;
}

.grid-item-other {
  position   : absolute;
  display    : inline-block;
  width      : 20px;
  height     : 20px;
  top        : 180px;
  left       : 175px;
  padding    : 0px;
}
.btn-link:focus, .btn-link:active {
  outline: 0;
}
